{% extends 'base.html' %}
{% load static %}

{% block title %}
    <h2>Cobalt Page</h2>
{% endblock %}

{% block body %}
    <h2>Feel the comfort of Cobalt!</h2>
    <img src="{% static 'images/cobalt.jpg' %}" alt="picture of Cobalt" width="15%" height="20%">
    <p>The Chevrolet Cobalt is a compact car introduced by Chevrolet in 2004 for the 2005 model year. The Cobalt replaced both the Cavalier and the Toyota-based Geo/Chevrolet Prizm as Chevrolet's compact car. The Cobalt was available as both a coupe and sedan, as well as a sport compact version dubbed the Cobalt SS. Like the Chevrolet HHR and the Saturn ION, it was based on the GM Delta platform.

        A Pontiac version was sold in the United States and Mexico under the G5 name for 2007–2009. It was sold as the Pontiac G4 in Mexico for 2005–2006 and as the Pontiac G5 in Canada for its entire run (where it was briefly known as the Pontiac Pursuit and later Pontiac G5 Pursuit). The G5 replaced the Cavalier-related Pontiac Sunfire. While the Cobalt was available as a 2-door coupe and a 4-door sedan in all markets it was offered in, the G5 was only available as a coupé in the United States while a sedan version was sold alongside the coupé in Canada and Mexico.
        
        As with their predecessors, all Cobalts and its Pontiac equivalents were manufactured at GM's plant in Ramos Arizpe, Mexico and Lordstown, Ohio. The United States Environmental Protection Agency classified the Cobalt as a subcompact car.[1]
        
        First generation (2004)</p>


{% endblock %}