{% extends 'base.html' %}
{% load static %}

{% block title %}
    <h2>Gentra Page</h2>
{% endblock %}

{% block body %}
    <h2>Feel the comfort of Gentra!</h2>
    <img src="{% static 'images/Gentra.jpg' %}" alt="pict of gentra">
    <p>The Daewoo Gentra is a compact car manufactured and marketed globally by GM Korea since 2002. The first-generation Lacetti was available as a four-door sedan and five-door station wagon, styled by Pininfarina—and five-door hatchback styled by Giorgetto Giugiaro. The sedan and wagon were marketed as the Daewoo Nubira in some European markets and as the Suzuki Forenza in North America. The hatchback, was introduced in 2004 and marketed as Daewoo Lacetti5 in South Korea, Suzuki Reno in the United States. After the 2004 model year, it was marketed as Chevrolet Nubira and Lacetti in Europe, as the Chevrolet Optra in Canada, Latin America, Africa, Middle East, India, Japan and Southeast Asia, and as the Holden Viva in Australia and New Zealand.</p>


{% endblock %}