{% extends 'base.html' %}
{% load static %}

{% block title %}
    <h2>MAlibu Page</h2>
{% endblock %}

{% block body %}
    <h2>Feel the comfort of Malibu!</h2>
    <img src="{% static 'images/malibu.jpg' %}" alt="pict of Malibu">
    <p>The Chevrolet Malibu is a mid-size car manufactured and marketed by Chevrolet from model years 1964–1983 and since 1997. The Malibu began as a trim-level of the Chevrolet Chevelle, becoming its own model line in 1978. Originally a rear-wheel drive intermediate, GM revived the Malibu nameplate as a front-wheel-drive car in 1997.[1]

        Named after the coastal community of Malibu, California, the Malibu was marketed primarily in North America, with the eighth generation introduced globally. With the discontinuation of the compact Cruze in March 2019, the full-size Impala in March 2020 and the subcompact Sonic in October 2020, the Malibu is currently the only sedan offered by Chevrolet in the U.S.
        
        First generation (Chevelle Malibu, 1964)</p>


{% endblock %}