{% extends 'base.html' %}
{% load static %}

{% block title %}
    <h2>Nexia Page</h2>
{% endblock %}

{% block body %}
    <h2>Feel the comfort of Nexia!</h2>
    <img src="{% static 'images/nexia3.jpg' %}" alt="picture of Nexia">
    <p>The Chevrolet Nexia (T200) is the first generation of the Chevrolet Aveo, a subcompact automobile nameplate from the Chevrolet division of the American manufacturer General Motors. The T200 was launched in 2002, developed by the initially-independent South Korean manufacturer Daewoo, later GM Korea. It was originally marketed as the Daewoo Kalos and prominently marketed with the Chevrolet brand as the Aveo. The model received the T200 internal codes during the car's development. The T250 code was designated for the model's major facelift.

        Designed, engineered and originally marketed by GM Daewoo, the Aveo superseded the Daewoo Lanos and was marketed worldwide in 120 countries under seven brands (Chevrolet, Daewoo, Holden, Pontiac, Ravon, Suzuki and ZAZ).[4]</p>


{% endblock %}  